<div class="col-lg-4 offset-lg-3">
    <div class="card">
        <div class="card-body">
            <form action="/tasks/add" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input class="form-control" type="text" name="title" id="title" placeholder="add your title" autofocus required>
                </div>
                <div class="mb-3">
                    <textarea name="description" id="description" cols="30" rows="10" required class="form-control"></textarea>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>